<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity>
    <namespace name="Microsoft.Practices.Unity.TestSupport" />
    <namespace name="Microsoft.Practices.Unity.Configuration.Tests.TestObjects" />
    <assembly name="Unity.TestSupport" />
    <assembly name="Unity.Configuration.Tests" />
    
    <container>
      <instance type="string" name="first" value="first" />
      <instance type="string" name="second" value="second" />
      <instance type="string" name="third" value="third" />
      
      <register type="ILogger" name="main" mapTo="MockLogger" />
      <register type="ILogger" name="another" mapTo="MockLogger" />
      <register type="ILogger" name="special" mapTo="SpecialLogger" />
      
      <register type="ArrayDependencyObject" name="defaultInjection">
        <property name="Loggers" />
      </register>

      <register type="ArrayDependencyObject" name="specificElements">
        <property name="Loggers">
          <array>
            <dependency name="main" />
            <dependency name="special" />
          </array>
        </property>
      </register>

      <register type="ArrayDependencyObject" name="mixingResolvesAndValues">
        <property name="Strings">
          <array>
            <dependency name="first" />
            <value value="Not the second" />
            <dependency name="third" />
          </array>
        </property>
      </register>

      <register type="ArrayDependencyObject" name="zeroLengthArray">
        <property name="Strings">
          <array />
        </property>
      </register>

      <register type="GenericArrayPropertyDependency[]" name="defaultResolution">
        <property name="Stuff" />
      </register>
      
      <register type="GenericArrayPropertyDependency[]" name="explicitZeroLengthArray">
        <property name="Stuff">
          <array />
        </property>
      </register>
       
    </container>
  </unity>
</configuration>
