<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <namespace name="Unity.TestSupport" />
    <assembly name="Unity.TestSupport" />
    
    <container>
      <register type="ILogger" mapTo="MockLogger" />
      <register type="ILogger" name="special" mapTo="SpecialLogger" />
    </container>
  </unity>
</configuration>