<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity>
    <aliases>
      <add alias="negator" type="Microsoft.Practices.Unity.TestSupport.NegativeTypeConverter, Unity.TestSupport" />
      <add alias="int" type="System.Int32" />
    </aliases>
    <container>
      <instance value="AdventureWorks" />
      <instance type="System.Int32" value="42" />
      <instance name="negated" value="23" type="int" typeConverter="negator" />
      <instance name="forward" value="23" type="int"/>
    </container>
  </unity>
</configuration>
