[submodule "SpecificationTests"]
	path = SpecificationTests
	url = https://github.com/unitycontainer/specification-tests.git
	branch = prototype/newport
[submodule "ContainerRegressionTests"]
	path = ContainerRegressionTests
	url = https://github.com/unitycontainer/container-regression-tests.git
	branch = prototype/newport
[submodule "Container"]
	path = Container
	url = https://github.com/unitycontainer/container.git
	branch = prototype/newport
[submodule "Abstractions"]
	path = Abstractions
	url = https://github.com/unitycontainer/abstractions.git
[submodule "src/libraries/Unity.Abstractions"]
	path = src/libraries/Unity.Abstractions
	url = ../abstractions.git
