###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto


###############################################################################
# Prevent merging of README.md
###############################################################################
README.md merge=ours
.gitmodules merge=ours