[submodule "Abstractions"]
	path = Abstractions
	url = ../abstractions.git
	branch = develop
[submodule "Container"]
	path = Container
	url = ../container.git
	branch = vNext
[submodule "Specification"]
	path = Specification
	url = ../specification-tests.git
	branch = develop
[submodule "SpecificationTestsAsync"]
	path = SpecificationTestsAsync
	url = ../specification-tests-async.git
	branch = develop
[submodule "ServiceLocation"]
	path = ServiceLocation
	url = ../service-location.git
	branch = develop
[submodule "Configuration"]
	path = Configuration
	url = ../configuration.git
	branch = develop
[submodule "Interception"]
	path = Interception
	url = ../interception.git
	branch = vNext
[submodule "InterceptionConfiguration"]
	path = InterceptionConfiguration
	url = ../interception-configuration.git
	branch = develop
[submodule "RegistrationByConvention"]
	path = RegistrationByConvention
	url = ../registration-by-convention.git
	branch = develop
[submodule "MVC"]
	path = MVC
	url = ../aspnet-mvc.git
	branch = develop
[submodule "WebAPI"]
	path = WebAPI
	url = ../aspnet-webapi.git
	branch = develop
[submodule "Microsoft.DependencyInjection"]
	path = Microsoft.DependencyInjection
	url = ../microsoft-dependency-injection.git
	branch = develop
[submodule "Log4net"]
	path = Log4net
	url = ../log4net.git
	branch = develop
[submodule "NLog"]
	path = NLog
	url = ../NLog.git
	branch = develop
[submodule "Microsoft.Logging"]
	path = Microsoft.Logging
	url = ../microsoft-logging.git
	branch = develop
[submodule "Examples"]
	path = Examples
	url = ../examples.git
	branch = develop
[submodule "Microsoft.Options"]
	path = Microsoft.Options
	url = ../microsoft-options.git
	branch = develop
[submodule "WCF"]
	path = WCF
	url = ../wcf.git
	branch = develop
