[submodule "Abstractions"]
	path = Abstractions
	url = ../abstractions.git
[submodule "Container"]
	path = Container
	url = ../container.git
[submodule "SpecificationTests"]
	path = SpecificationTests
	url = ../specification-tests.git
[submodule "ServiceLocation"]
	path = ServiceLocation
	url = ../service-location.git
[submodule "Configuration"]
	path = Configuration
	url = ../configuration.git
[submodule "Interception"]
	path = Interception
	url = ../interception.git
[submodule "InterceptionConfiguration"]
	path = InterceptionConfiguration
	url = ../interception-configuration.git
[submodule "RegistrationByConvention"]
	path = RegistrationByConvention
	url = ../registration-by-convention.git
[submodule "Microsoft.DependencyInjection"]
	path = Microsoft.DependencyInjection
	url = ../microsoft-dependency-injection.git
[submodule "Log4net"]
	path = Log4net
	url = ../log4net.git
[submodule "NLog"]
	path = NLog
	url = ../NLog.git
[submodule "Microsoft.Logging"]
	path = Microsoft.Logging
	url = ../microsoft-logging.git
[submodule "Examples"]
	path = Examples
	url = ../examples.git
[submodule "RegressionTests"]
	path = RegressionTests
	url = ../regression-tests.git
[submodule "ContainerRegressionTests"]
	path = ContainerRegressionTests
	url = https://github.com/unitycontainer/container-regression-tests.git
