<?xml version="1.0" encoding="utf-8" ?>

<!--
Copyright (c) Microsoft Corporation. All rights reserved. See License.txt in the project root for license information.
-->
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
	</configSections>

	<unity>
		<typeAliases>
      <typeAlias alias="IHaveManyGenericTypes" type="Unity.Tests.IHaveManyGenericTypes`4, Unity.Tests" />
      <typeAlias alias="HaveManyGenericTypes" type="Unity.Tests.HaveManyGenericTypes`4, Unity.Tests" />
      <typeAlias alias="GenericA" type="Unity.Tests.GenericA, Unity.Tests" />
		</typeAliases>
		<containers>
      <container name="InvalidContainer">
        <types>
          <type type="IHaveManyGenericTypes" mapTo="HaveManyGenericTypes">
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement, Microsoft.Practices.Unity.Configuration">
              <constructor/>
              <method name="Set">
                <param name="t4Value">
                  <dependency/>
                </param>
              </method>
            </typeConfig>
          </type>
        </types>
      </container>
    </containers>
	</unity>
</configuration>
