<?xml version="1.0" encoding="utf-8" ?>

<!--
Copyright (c) Microsoft Corporation. All rights reserved. See License.txt in the project root for license information.
-->
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
	</configSections>
	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">


		<alias alias="TestTypeToInjectWithValues" type="Unity.Tests.TestTypeToInjectWithValues, Unity.Tests">

		</alias>
		


			<container>
				
				<register type="TestTypeToInjectWithValues">
					<constructor>
						<param name="test" type="string">
							<value value="testValue">

							</value>
						</param>
						<param name="test1" type="int">
							<value value="123123">

							</value>
						</param>
						<param name="test2" type="float">
							<value value="1.123123">

							</value>
						</param>
					</constructor>
				</register>
				<register type="float">
				</register>
				<!--<register type="Exception">
					<constructor>
						<param name="message" type="string">
							<value value="test message">

							</value>
						</param>
					</constructor>
				</register>
				<register type="Uri">
					<constructor>
						<param name="uriString" type="string">
							<value value="www.test.com">
								
							</value>
						</param>

					</constructor>
				</register>-->

			</container>
		
	</unity>
</configuration>
