<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity>
    <namespace name="Microsoft.Practices.Unity.TestSupport" />
    <assembly name="Unity.TestSupport" />
    
    <container>
      
      <extensions>
        <add type="MockContainerExtension" />
      </extensions>
      
      <register type="ILogger" mapTo="SpecialLogger">
        <lifetime type="singleton" />
      </register>
    </container>

    <container name="newSchema">
      <extension type="MockContainerExtension" />
      
      <register type="ILogger" mapTo="SpecialLogger">
        <lifetime type="ContainerControlledLifetimeManager" />
      </register>
    </container>
  </unity>
</configuration>
