<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity>
    <namespace name="Microsoft.Practices.Unity.Configuration.Tests.TestObjects" />
    <assembly name="Unity.Configuration.Tests" />
    
    <container>
      <instance type="string" value="a string" />
      <instance type="int" value="17" />

      <register type="GenericObjectWithConstructorDependency`1" name="basic">
        <constructor>
          <!-- little back compat test - genericParameterName is now ignored -->
          <param name="value" genericParameterName="NoSuchParameter"/>
        </constructor>
      </register>
    </container>
  </unity>
  
</configuration>