<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity>
    <container>
      <register type="ILogger" mapTo="MockLogger">
        <constructor>
          <param name="one" />
          <param name="two" />
          <param name="three" />
        </constructor>
      </register>
      <register type="ILogger" name="special" mapTo="SpecialLogger" />
      <register type="ILogger" name="noArgs" mapTo="MockLogger">
        <constructor />
      </register>
    </container>
  </unity>
</configuration>
