<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>

  <unity>
    <alias alias="TestSectionExtension" type="Unity.Configuration.Tests.TestObjects.TestSectionExtension, Unity.Configuration.Tests" />
    <alias alias="ObjectTakingScalars" type="Unity.Configuration.Tests.TestObjects.ObjectTakingScalars, Unity.Configuration.Tests" />
    <sectionExtension type="TestSectionExtension" />
    <sectionExtension type="TestSectionExtension" prefix="ext2" />
    <container>
      <configOne />
      <configTwo />
      <ext2.configOne />
      <ext2.configTwo />

      <register type="scalarObject">
        <constructor>
          <param name="intValue">
            <seventeen />
          </param>
        </constructor>
      </register>

      <register type="ext2.scalarObject" name="prefixedValue">
        <constructor>
          <param name="intValue">
            <ext2.seventeen />
          </param>
        </constructor>
      </register>
      
    </container>
  </unity>
</configuration>
