<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity>
    <aliases>
      <add alias="int" type="System.Int32, mscorlib" />
      <add alias="string" type="System.String, mscorlib" />
    </aliases>

    <container />
    <container name="two" />

  </unity>
</configuration>