<?xml version="1.0" encoding="utf-8"?>

<!--
Copyright (c) Microsoft Corporation. All rights reserved. See License.txt in the project root for license information.
-->
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
	</configSections>
	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
	
		<alias alias="I" type="Unity.Tests.ISomeInterface, Unity.Tests"></alias>
		<alias alias="C" type="Unity.Tests.SomeClass, Unity.Tests"></alias>
		
		
			<container>

				<register type="I" mapTo="C">
					<constructor>
						
					</constructor>
				</register>
							  
					
				
			</container>
			<container name="ModuleName">
				
					<register type="I" mapTo="C">
							<constructor>
								<param name="values">
									<array>
										<value value="Test1"  />
										<value value="Test2" />
										<value value="Test3" />
									</array>
								</param>
							</constructor>
					</register>
				</container>
		
	</unity>
</configuration>
