<?xml version="1.0" encoding="utf-8" ?>

<!--
Copyright (c) Microsoft Corporation. All rights reserved. See License.txt in the project root for license information.
-->
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
	</configSections>

	<unity>
	<aliases>
      <add alias="ConfigurationCollectionSupportTestClass" type="Unity.Tests.CollectionSupport.ConfigurationCollectionSupportTestClass, Unity.Tests" />
	  <add alias="ConfigurationCollectionSupportTestClassGeneric" type="Unity.Tests.CollectionSupport.ConfigurationCollectionSupportTestClassGeneric`1, Unity.Tests" />
      <add alias="CollectionSupportTestClass" type="Unity.Tests.CollectionSupport.CollectionSupportTestClass, Unity.Tests" />
	   <add alias="CollectionSupportTestClassDerived" type="Unity.Tests.CollectionSupport.CollectionSupportTestClassDerived, Unity.Tests" />
	  <add alias="CollectionSupportTestClassArray" type="Unity.Tests.CollectionSupport.CollectionSupportTestClass[], Unity.Tests" />
		<add alias="int" type="System.Int32, mscorlib" />
    </aliases>

	<containers>
		
      <container name="ConfiguringPropertyInjectionYieldsProperlyInjectedObject">
		  <register type="CollectionSupportTestClass" name="item1" />
		  <register type="CollectionSupportTestClass" name="item2" />
		  <register type="CollectionSupportTestClass" name="item3" />

		  <register type="ConfigurationCollectionSupportTestClass" >
          
				<property name="ArrayProperty">
					<array>
						<dependency name="item1" />
						<dependency name="item2" />
						<dependency name="item3" />
					</array>
				</property>
          </register>
		  
     
      </container>

		<container name="ConfiguringPropertyInjectionForArrayPropertyWithInvalidItemTypeThrows">
			<register type="CollectionSupportTestClass" name="item1" />
			<register type="CollectionSupportTestClass" name="item2" />
			<register type="int" name="item3" />

			<register type="ConfigurationCollectionSupportTestClass" >

				<property name="ArrayProperty">
					<array>
						<dependency name="item1" />
						<dependency name="item2" />
						<dependency name="item3" />
					</array>
				</property>
			</register>


		</container>

		<container name="ConfiguringPropertyInjectionForArrayPropertyWithNoElementsYieldsProperlyInjectedObject">
			
			<register type="ConfigurationCollectionSupportTestClass" >

				<property name="ArrayProperty">
					<array>
						
					</array>
				</property>
			</register>
		</container>
		<container name="ConfiguringGenericPropertyInjectionYieldsProperlyInjectedObject">
			<register type="CollectionSupportTestClass" name="item1" />
			<register type="CollectionSupportTestClass" name="item2" />
			<register type="CollectionSupportTestClass" name="item3" />
			<register type="ConfigurationCollectionSupportTestClassGeneric" >
				<property name="ArrayProperty" >
					<array>
						<dependency name="item1" />
						<dependency name="item2" />
						<dependency name="item3" />
					</array>
				</property>
			</register>
			
			
		</container>


		<container name="ConfiguringCtorInjectionYieldsProperlyInjectedObject">
			<register type="CollectionSupportTestClass" name="item1" />
			<register type="CollectionSupportTestClass" name="item2" />
			<register type="CollectionSupportTestClass" name="item3" />
		
				<register type="ConfigurationCollectionSupportTestClass">
						<constructor>
							<param name="arrayCtor">
								<array>
								<dependency name="item1" />
								<dependency name="item2" />
								<dependency name="item3" />
								</array>
							</param>
						</constructor>
				</register>
			
		</container>

		<container name="ConfiguringGenericCtorInjectionYieldsProperlyInjectedObject">
			<register type="CollectionSupportTestClass" name="item1" />
			<register type="CollectionSupportTestClass" name="item2" />
			<register type="CollectionSupportTestClass" name="item3" />
		
				<register type="ConfigurationCollectionSupportTestClassGeneric">

						<constructor>
							<param name="arrayCtor">
								<array>
								<dependency name="item1" />
								<dependency name="item2" />
								<dependency name="item3" />
								</array>
								</param>
						</constructor>
			</register>
		</container>

		<container name="ConfiguringGenericCtorWithInvalidItemThrows">
			<register type="CollectionSupportTestClass" name="item1" />
			<register type="CollectionSupportTestClass" name="item2" />
		

			<register type="ConfigurationCollectionSupportTestClassGeneric">

				<constructor>
					<param name="arrayCtor">
						<array>
						<dependency name="item1" />
						<dependency name="item2" />
						<dependency name="item3" type="int" />
						</array>
					</param>
				</constructor>
			</register>
		</container>

		<container name="ConfiguringMethodInjectionYieldsProperlyInjectedObject">
			
				<register type="CollectionSupportTestClass" name="item1" />
				<register type="CollectionSupportTestClass" name="item2" />
			<register type="ConfigurationCollectionSupportTestClass">
				<method name="InjectionMethod">
					<param name="arrayMethod">
						<array>
						<dependency name="item1" />
						<dependency name="item2" />
							</array>

					</param>
				</method>
			</register>
			
		</container>
		<container name="ConfiguringGenericMethodInjectionYieldsProperlyInjectedObject">
			<register type="CollectionSupportTestClass" name="item1" />
			<register type="CollectionSupportTestClass" name="item2" />
		
				<register type="ConfigurationCollectionSupportTestClassGeneric">
					<method name="InjectionMethod">
						<param name="arrayMethod">
							<array>
							<dependency name="item1" />
							<dependency name="item2" />
							</array>


						</param>
					</method>
					
			</register>
		</container>
		
		



	</containers>
		
	</unity>
</configuration>
