<?xml version="1.0" encoding="utf-8" ?>

<!--
Copyright (c) Microsoft Corporation. All rights reserved. See License.txt in the project root for license information.
-->
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
	</configSections>
	<unity>

		<typeAliases>
			<typeAlias alias="SubjectType1ToInject" type="Unity.Tests.Override.SubjectType1ToInject, Unity.Tests"></typeAlias>
			<typeAlias alias="ITypeToInject" type="Unity.Tests.Override.IInterfaceForTypesToInject, Unity.Tests"></typeAlias>
			<typeAlias alias="TypeToInject1" type="Unity.Tests.Override.TypeToInject1, Unity.Tests"></typeAlias>
			<typeAlias alias="string" type="System.String, mscorlib" />
			<typeAlias alias="int" type="System.Int32, mscorlib"/>
		</typeAliases>

		<containers>

			<container name="ConstructorOverrideTest">
				<types>
					<type type="ITypeToInject" mapTo="TypeToInject1" name="CurrentTypeToInject">

							<constructor>
								<param name="value">
									<value value="123" />
								</param>
							</constructor>
						
					</type>
					<type type="SubjectType1ToInject"  name="TestConstructorOverrideDefaultInConfiguration">

							<constructor>
								<param name="injectedObject">
									<dependency name="CurrentTypeToInject"/>
								</param>
							</constructor>

					</type>
				</types>
			</container>

		</containers>

	</unity>

</configuration>
