<!--
Copyright (c) Microsoft Corporation. All rights reserved. See License.txt in the project root for license information.
-->
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
	</configSections>
	<appSettings>
		<add key="TypeName1" value=""/>
		<add key="TypeName2" value="Temporary"/>
	</appSettings>


	<unity>
   
			<containers>

				<container name="containerOne">
				<types>
					<type name="MyType1" type="Unity.Container.Register.Tests.Stubs.ITemporary, Unity.Tests" mapTo="Unity.Container.Register.Tests.Stubs.Temp, Unity.Tests"/>
					<type name="MyType2" type="Unity.Container.Register.Tests.Stubs.ITemporary, Unity.Tests" mapTo="Unity.Container.Register.Tests.Stubs.Temp2, Unity.Tests"/>
				</types>
				<instances>
					<add name="MyInstance1" type="System.String" value="Some value"/>
					<add name="MyInstance2" type="System.DateTime" value="2008-02-05T17:50:00"/>
				</instances>
			</container>
		</containers>
	</unity>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
