<?xml version="1.0" encoding="utf-8" ?>

<!--
Copyright (c) Microsoft Corporation. All rights reserved. See License.txt in the project root for license information.
-->
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
	</configSections>
	<unity>

		<typeAliases>
			<typeAlias alias="Type3DependingOnOtherType" type="Unity.Tests.Type3DependingOnOtherType, Unity.Tests"></typeAlias>
			<typeAlias alias="IDependingOnOtherType" type="Unity.Tests.IDependingOnOtherType, Unity.Tests"></typeAlias>
			<typeAlias alias="IToWhichDependent" type="Unity.Tests.IToWhichDependent, Unity.Tests"></typeAlias>
			<typeAlias alias="Type1ToWhichDependent" type="Unity.Tests.Type1ToWhichDependent, Unity.Tests"></typeAlias>
			<typeAlias alias="string" type="System.String, mscorlib" />
			<typeAlias alias="int" type="System.Int32, mscorlib"/>
		</typeAliases>

		<containers>

			<container name="DependencyOverrideContainer">
				<types>
					<type type="IToWhichDependent" mapTo="Type1ToWhichDependent" name="CurrentTypeToInject">
						
							<constructor>
								<param name="x">
									<value value="-111" />
								</param>
							</constructor>
						
					</type>
					<type type="Type3DependingOnOtherType"  name="TestDependencyOverrideDefaultInConfiguration">
						
							<constructor>
								<param name="dependency">
									<dependency name="CurrentTypeToInject"/>
								</param>
							</constructor>
							<property name="OneMoreIToWhichDependent" >
								<dependency name="CurrentTypeToInject" />
							</property>
						
					</type>
				</types>
			</container>

		</containers>

	</unity>

</configuration>
