<?xml version="1.0" encoding="utf-8" ?>

<!--
Copyright (c) Microsoft Corporation. All rights reserved. See License.txt in the project root for license information.
-->
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
	</configSections>
	<unity>
		<!--<alias alias="IFoo1"
		type="Unity.Tests.IFoo1`1, Unity.Tests"/>
		<alias alias="MyFoo1" type="Unity.Tests.MFoo1`1, Unity.Tests"/>
		<alias alias="MyStringFoo1" type="Unity.Tests.MyStringFoo1, Unity.Tests"/>-->
		<assembly name="Unity.Tests"></assembly>
		<namespace name="Unity.Tests"></namespace>
		<assembly name="mscorlib"></assembly>
		<namespace name="System"></namespace>
		
			<container>
		
					<!-- Internal Mapping: Module from the Framework.Common.dll assembly -->
					<register type="IFoo1[]" mapTo="MyFoo1[]" name="open">
						<lifetime type="transient" />
					</register>
					<register type="IFoo1[]" mapTo="MyFoo1[string]" name="string">
					
						<lifetime type="transient" />
					</register>
					<register type="IFoo1[]" mapTo="MyStringFoo1" name="string1">

						<lifetime type="transient" />
					</register>
					</container>
			<container name="ResolveAllFilters">
								<!-- Internal Mapping: Module from the Framework.Common.dll assembly -->
					<register type="IFoo1[]" mapTo="MyFoo1[]" name="open">
						<lifetime type="transient" />
					</register>
					<register type="IFoo1[]" mapTo="MyFoo1[string]" name="string">

						<lifetime type="transient" />
					</register>
					<register type="IFoo1[]" mapTo="MyStringFoo1" name="string1">

						<lifetime type="transient" />
					</register>
				<register type="IFoo[]" mapTo="MyFoo1[int]" name="Test1">
					
					<lifetime type="transient" />
				</register>
						</container>
		
	</unity>
</configuration>