<?xml version="1.0" encoding="utf-8" ?>

<!--
Copyright (c) Microsoft Corporation. All rights reserved. See License.txt in the project root for license information.
-->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity>

    <typeAliases>
      <typeAlias alias="TestTypeInConfig" type="Unity.Tests.Override.TestTypeInConfig, Unity.Tests"></typeAlias>
      <typeAlias alias="string" type="System.String, mscorlib" />
      <typeAlias alias="int" type="System.Int32, mscorlib"/>
    </typeAliases>

    <containers>

      <container name="PropertyOverrideContainer">
        <types>
          <type type="TestTypeInConfig"  name="MyTestTypeToOverride">
              <property name="X">
				  <value value="-111" />
              </property>
				<property name="Y">
					<value value="DefaultFromConfigFile" />
				</property>
              <constructor>
                <param name="value">
                  <value value="101" />
                </param>
              </constructor>

          </type>
          <type type="TestTypeInConfig"  name="DefaultConstructor">

              <constructor>
                <param name="value">
                  <value value="1001" />
                </param>
              </constructor>

          </type>
        </types>
      </container>
      <container name="PropertyOverrideContainer1">
        <types>
          <type type="TestTypeInConfig2"  name="MyTestTypeToOverride">

              <property name="X">
                <value value="-111" />
              </property>
              <property name="Y">
                <value value="default" />
              </property>
            
          </type>
        </types>
      </container>
    </containers>

  </unity>

</configuration>
