<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>

  <unity>
    <alias alias="wrappable" type="Unity.TestSupport.Wrappable, Tests.Unity.Interception.Configuration" />
    <alias alias="wrappableVirtual"
      type="Unity.InterceptionExtension.Configuration.Tests.TestObjects.WrappableWithVirtualMethods, Tests.Unity.Interception.Configuration" />
    <alias alias="wrappableWithProperty" type="Unity.TestSupport.WrappableWithProperty, Tests.Unity.Interception.Configuration" />

    <sectionExtension type="Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration" />

    <container name="configuringDefaultInterceptorForType">
      <extension type="Interception" />

      <interceptors>
        <interceptor type="TransparentProxyInterceptor">
          <default type="wrappable"/>
        </interceptor>
      </interceptors>
    </container>

    <container name="configuringDefaultInterceptorForTypeWithVirtualMethodInterceptor">
      <extension type="Interception" />
      <interceptors>
        <interceptor type="VirtualMethodInterceptor">
          <default type="wrappableVirtual"/>
        </interceptor>
      </interceptors>
    </container>

    <container name="configuringInterceptorForType">
      <extension type="Interception" />
      <interceptors>
        <interceptor type="TransparentProxyInterceptor">
          <key type="wrappable"/>
        </interceptor>
      </interceptors>
    </container>

    <container name="configuringInterceptorForTypeAndName">
      <extension type="Interception" />
      <interceptors>
        <interceptor type="TransparentProxyInterceptor">
          <key type="wrappable" name="name"/>
        </interceptor>
      </interceptors>
    </container>

    <container name="configuringSeveralInterceptors">
      <extension type="Interception" />
      <interceptors>
        <interceptor type="TransparentProxyInterceptor">
          <key type="wrappable"/>
          <key type="wrappable" name="name"/>
        </interceptor>
      </interceptors>
    </container>

    <container name="mixingDefaultAndNonDefaultInterceptors">
      <extension type="Interception" />
      <interceptors>
        <interceptor type="TransparentProxyInterceptor">
          <default type="wrappable"/>
          <key type="wrappableWithProperty"/>
        </interceptor>
      </interceptors>
    </container>

    <container name="mixingTransparentProxyAndVirtualMethodInterceptors">
      <extension type="Interception" />
      <interceptors>
        <interceptor type="TransparentProxyInterceptor">
          <default type="wrappable"/>
        </interceptor>
        <interceptor type="VirtualMethodInterceptor">
          <key type="wrappableVirtual" name="name"/>
        </interceptor>
      </interceptors>
    </container>

    <container name="specifyingInterceptorWithTypeConverter">
      <extension type="Interception" />
      <interceptors>
        <interceptor type="TransparentProxyInterceptor" value="source value" typeConverter="Unity.InterceptionExtension.Configuration.Tests.TestObjects.MyTransparentProxyInterceptorTypeConverter, Tests.Unity.Interception.Configuration">
          <default type="wrappable"/>
        </interceptor>
      </interceptors>
    </container>

  </unity>
</configuration>