<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>

  <unity>
    <sectionExtension type="Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration" />
  </unity>
</configuration>
