<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>

  <unity>
    <aliases>
      <add alias="ILogger" type="Unity.TestSupport.ILogger, Tests.Unity.Configuration" />
      <add alias="SpecialLogger" type="Unity.TestSupport.SpecialLogger, Tests.Unity.Configuration" />
      <add alias="ObjectWithTwoProperties" type="Unity.TestSupport.ObjectWithTwoProperties, Tests.Unity.Configuration" />
      <add alias="SpecialLogger" type="Unity.TestSupport.SpecialLogger, Tests.Unity.Configuration" />
    </aliases>
    
    <container>
      <register type="ILogger" name="special" mapTo="SpecialLogger" />
      
      <register type="object" name="special">
        <lifetime type="singleton" />
      </register>
      
      <register type="ObjectWithTwoProperties" name="singleProperty">
        <property name="Obj1">
          <dependency name="special" />
        </property>
      </register>

      <register type="ObjectWithTwoProperties" name="twoProperties">
        <property name="Obj1" dependencyName="special" />
        <property name="Obj2" />
      </register>

      <register type="ObjectWithTwoProperties" name="injectingDifferentType">
        <property name="Obj1" dependencyName="special" dependencyType="ILogger" />
        <property name="Obj2" dependencyName="special" />
      </register>
    </container>
  </unity>
</configuration>
