<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>

  <unity>
    <aliases>
      <add alias="object" type="System.Object, mscorlib" />
      <add alias="int" type="System.Int32, mscorlib" />
      <add alias="string" type="System.String, mscorlib" />
      <add alias="ILogger" type="Unity.TestSupport.ILogger, Tests.Unity.Configuration" />
      <add alias="MockLogger" type="Unity.TestSupport.MockLogger, Tests.Unity.Configuration" />
      <add alias="ObjectWithInjectionMethod" type="Unity.TestSupport.ObjectWithInjectionMethod, Tests.Unity.Configuration" />
      <add alias="ObjectWithOverloads" type="Unity.Configuration.Tests.TestObjects.ObjectWithOverloads, Tests.Unity.Configuration" />
    </aliases>
    
    <container>
      <instance type="string" name="northwind" value="northwind" />
      
      <register type="ILogger" mapTo="MockLogger" />
      
      <register type="ObjectWithInjectionMethod" name="singleMethod">
        <method name="Initialize">
          <param name="connectionString" dependencyName="northwind" />
          <param name="logger" />
        </method>
      </register>

      <register type="ObjectWithInjectionMethod" name="twoMethods">
        <method name="Initialize">
          <param name="connectionString" dependencyName="northwind" />
          <param name="logger" />
        </method>
        <method name="MoreInitialization">
          <param name="data" />
        </method>
      </register>

      <register type="ObjectWithOverloads" name="callFirstOverload">
        <method name="CallMe">
          <param name="param" type="int" value="17"/>
        </method>
      </register>

      <register type="ObjectWithOverloads" name="callSecondOverload">
        <method name="CallMe">
          <param name="param" type="string" dependencyName="northwind"/>
        </method>
      </register>

      <register type="ObjectWithOverloads" name="callBothOverloads">
        <method name="CallMe">
          <param name="param" type="int" value="17" />
        </method>
        <method name="CallMe">
          <param name="param" type="string" value="some string" />
        </method>
      </register>

      <register type="ObjectWithOverloads" name="callFirstOverloadTwice">
        <method name="CallMe">
          <param name="param" type="int" value="17" />
        </method>
        <method name="CallMe">
          <param name="param" type="int" value="35" />
        </method>
      </register>
    </container>
  </unity>
</configuration>
