<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>

  <unity>
    <typeAliases>
      <typeAlias alias="string" type="System.String, mscorlib" />
      <typeAlias alias="int" type="System.Int32, mscorlib" />
      <typeAlias alias="ILogger" type="Unity.TestSupport.ILogger, Tests.Unity.Configuration" />
      <typeAlias alias="MockLogger" type="Unity.TestSupport.MockLogger, Tests.Unity.Configuration" />
      <typeAlias alias="SpecialLogger" type="Unity.TestSupport.SpecialLogger, Tests.Unity.Configuration" />
      <typeAlias alias="DependentConstructor" type="Unity.TestSupport.ObjectWithOneConstructorDependency, Tests.Unity.Configuration" />
      <typeAlias alias="TwoConstructorArgs" type="Unity.TestSupport.ObjectWithTwoConstructorParameters, Tests.Unity.Configuration" />
      <typeAlias alias="MockDatabase" type="Unity.TestSupport.MockDatabase, Tests.Unity.Configuration" />
    </typeAliases>

  </unity>
</configuration>