<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity>
    <typeAliases>
      <typeAlias alias="negator" type="Microsoft.Practices.Unity.TestSupport.NegativeTypeConverter, Tests.Unity.Configuration" />
      <typeAlias alias="int" type="System.Int32" />
    </typeAliases>
    <containers>
      <container>
        <instances>
          <add value="AdventureWorks" />
          <add type="System.Int32" value="42" />
          <add name="backwards"
               value="23"
               type="int" 
               typeConverter="negator" />
          <add name="forward"
               value="23"
               type="int"/>
        </instances>
      </container>
    </containers>
  </unity>

</configuration>                                                                                                                                                                                                                                                  