<?xml version="1.0" encoding="utf-8" ?> 
<!-- Test config file to see if we can load this -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <appSettings>
    <add key="test1" value="Its a value" />
  </appSettings>

  <unity>
    <typeAliases>
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    </typeAliases>
    <containers>
      <container name="one">
        <types>
          <type type="Microsoft.Practices.Unity.TestSupport.ILogger, TestSupport.Unity"
                name="logger"
                mapTo="Microsoft.Practices.Unity.TestSupport.MockLogger, TestSupport.Unity" />
        </types>
      </container>
      <container>
        <types>
          <type type="Microsoft.Practices.Unity.TestSupport.ILogger, TestSupport.Unity"
                mapTo="Microsoft.Practices.Unity.TestSupport.SpecialLogger, TestSupport.Unity">
            <lifetime type="singleton" />
          </type>
        </types>
      </container>
    </containers>
  </unity>
  
</configuration>
