<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>

  <unity>
    <namespace name="Unity.TestSupport" />
    <assembly name="Unity.TestSupport" />
    
    <container>

      <register type="ILogger" mapTo="MockLogger" name="validLogger" />

      <register type="ObjectUsingLogger" name="dependencyRegistered">
        <property name="Logger">
          <optional name="validLogger" />
        </property>
      </register>

      <register type="ObjectUsingLogger" name="dependencyNotRegistered">
        <property name="Logger">
          <optional name="invalidLogger" />
        </property>
      </register>

    </container>
  </unity>
</configuration>