<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity>
    <aliases>
      <add alias="ArrayDependencyObject" type="Microsoft.Practices.Unity.Configuration.Tests.TestObjects.ArrayDependencyObject, Unity.Configuration.Tests" />
      <add alias="GenericArrayPropertyDependency" type="Microsoft.Practices.Unity.Configuration.Tests.TestObjects.GenericArrayPropertyDependency`1, Unity.Configuration.Tests" />
      <add alias="ILogger" type="Microsoft.Practices.Unity.TestSupport.ILogger, Unity.TestSupport" />
      <add alias="MockLogger" type="Microsoft.Practices.Unity.TestSupport.MockLogger, Unity.TestSupport" />
      <add alias="SpecialLogger" type="Microsoft.Practices.Unity.TestSupport.SpecialLogger, Unity.TestSupport" />
    </aliases>

    <container>
      <instance type="string" name="first" value="first" />
      <instance type="string" name="second" value="second" />
      <instance type="string" name="third" value="third" />
      
      <register type="ILogger" name="main" mapTo="MockLogger" />
      <register type="ILogger" name="another" mapTo="MockLogger" />
      <register type="ILogger" name="special" mapTo="SpecialLogger" />
      
      <register type="ArrayDependencyObject" name="defaultInjection">
        <property name="Loggers" />
      </register>

      <register type="ArrayDependencyObject" name="specificElements">
        <property name="Loggers">
          <array>
            <dependency name="main" />
            <dependency name="special" />
          </array>
        </property>
      </register>

      <register type="ArrayDependencyObject" name="mixingResolvesAndValues">
        <property name="Strings">
          <array>
            <dependency name="first" />
            <value value="Not the second" />
            <dependency name="third" />
          </array>
        </property>
      </register>

      <register type="ArrayDependencyObject" name="zeroLengthArray">
        <property name="Strings">
          <array />
        </property>
      </register>

      <register type="GenericArrayPropertyDependency" name="defaultResolution">
        <property name="Stuff" />
      </register>
    </container>
  </unity>
</configuration>
