<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity>
    <aliases>
      <add alias="ILogger" type="Microsoft.Practices.Unity.TestSupport.ILogger, Unity.TestSupport" />
      <add alias="MockLogger" type="Microsoft.Practices.Unity.TestSupport.MockLogger, Unity.TestSupport" />
      <add alias="SpecialLogger" type="Microsoft.Practices.Unity.TestSupport.SpecialLogger, Unity.TestSupport" />
    </aliases>
    
    <container>
      <register type="ILogger" mapTo="MockLogger" />
      <register type="ILogger" name="special" mapTo="SpecialLogger" />
    </container>
  </unity>
</configuration>