<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity>
    <namespace name="Microsoft.Practices.Unity.TestSupport" />
    <assembly name="Unity.TestSupport" />
    
    <container>
      <register type="ILogger" mapTo="MockLogger" />
      <register type="ILogger" name="special" mapTo="SpecialLogger" />
    </container>
  </unity>
</configuration>