<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity>
    <aliases>
      <add alias="MockExtension" type="Microsoft.Practices.Unity.TestSupport.MockContainerExtension, Unity.TestSupport" />
    </aliases>
    <container>
      
      <extensions>
        <add type="MockExtension" />
      </extensions>
      
      <register type="Microsoft.Practices.Unity.TestSupport.ILogger, Unity.TestSupport"
            mapTo="Microsoft.Practices.Unity.TestSupport.SpecialLogger, Unity.TestSupport">
        <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      </register>
    </container>

    <container name="newSchema">
      <extension type="MockExtension" />
      
      <register type="Microsoft.Practices.Unity.TestSupport.ILogger, Unity.TestSupport"
            mapTo="Microsoft.Practices.Unity.TestSupport.SpecialLogger, Unity.TestSupport">
        <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      </register>
    </container>
  </unity>
</configuration>
