<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
						 type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, 
						       Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity>

    <namespace name="Microsoft.Practices.Unity.Configuration.Tests.TestObjects.MyGenericTypes" />
    <assembly name="Unity.Configuration.Tests" />

    <container name="container1">

      <!-- Register generic print service -->
      <register type="IGenericService[]" mapTo="MyPrintService[]" />

      <!-- Register item types -->
      <register type="IItem" mapTo="CompactCarItem" name="Cheapo">
        <constructor>
          <name type="System.String" value="Frod Cheapo" />
          <numberDoors type="System.Int32" value="4" />
        </constructor>
      </register>
      <register type="IItem" mapTo="CompactCarItem" name="Mini">
        <constructor>
          <name type="System.String" value="BWM Miniature" />
          <numberDoors type="System.Int32" value="2" />
        </constructor>
      </register>
      <register type="IItem" mapTo="DiggerItem" name="Digger">
        <constructor>
          <name type="System.String" value="JBC Workhard" />
          <bucketWidth type="System.Int32" value="48" />
        </constructor>
      </register>
      <register type="IItem" mapTo="LargeTruckItem" name="Hauler">
        <constructor>
          <name type="System.String" value="Muck Longhaul" />
          <numberWheels type="System.Int32" value="18" />
        </constructor>
      </register>
      <register type="IItem" mapTo="LargeTruckItem" name="Tipper">
        <constructor>
          <name type="System.String" value="Muck Bigtip" />
          <numberWheels type="System.Int32" value="12" />
        </constructor>
      </register>
      <register type="IItem" mapTo="MidsizeCarItem" name="TownCar">
        <constructor>
          <name type="System.String" value="Frod TownCar" />
          <numberCupHolders type="System.Int32" value="6" />
        </constructor>
      </register>
      <register type="IItem" mapTo="MidsizeCarItem" name="Common">
        <constructor>
          <name type="System.String" value="Geem Commonlyscene" />
          <numberCupHolders type="System.Int32" value="4" />
        </constructor>
      </register>
      <register type="IItem" mapTo="MidsizeVanItem" name="MidsizeVan">
        <constructor>
          <name type="System.String" value="Missedbushy Boxy" />
          <maxCapacity type="System.Int32" value="600" />
        </constructor>
      </register>
      <register type="IItem" mapTo="PickupTruckItem" name="PickupTruck">
        <constructor>
          <name type="System.String" value="Ramble Tufftruck" />
          <maxLoad type="System.Int32" value="8000" />
        </constructor>
      </register>
      <register type="IItem" mapTo="PoshRollerItem" name="PoshRoller">
        <constructor>
          <name type="System.String" value="BWM Superbmobil" />
          <numberBottlesOfChampagne type="System.Int32" value="6" />
        </constructor>
      </register>
      <register type="IItem" mapTo="TractorItem" name="Tractor">
        <constructor>
          <name type="System.String" value="John Doe Mightypuller" />
          <maxTrailerTons type="System.Int32" value="5" />
        </constructor>
      </register>

      <!-- Register generic collection type -->
      <register type="ItemsCollection[]">
        <constructor>
          <name value="MyGenericCollection" />
          <printService />
        </constructor>
        <property name="Items" />
      </register>

    </container>
  </unity>
</configuration>
