<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity>
    <aliases>
      <add alias="GenericObjectWithConstructorDependency" type="Microsoft.Practices.Unity.Configuration.Tests.TestObjects.GenericObjectWithConstructorDependency`1, Unity.Configuration.Tests" />
      <add alias="GenericObjectWithNestedDependency" type="Microsoft.Practices.Unity.Configuration.Tests.TestObjects.GenericObjectWithNestedDependency`1, Unity.Configuration.Tests" />
    </aliases>

    <container>
      <instance type="string" value="a string" />
      <instance type="int" value="17" />

      <register type="GenericObjectWithConstructorDependency" name="basic">
        <constructor>
          <value genericParameterName="NoSuchParameter"/>
        </constructor>
      </register>
    </container>
  </unity>
  
</configuration>