<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity>
    <alias alias="ObjectUsingLogger" type="Microsoft.Practices.Unity.TestSupport.ObjectUsingLogger, Unity.TestSupport" />
    <alias alias="ILogger" type="Microsoft.Practices.Unity.TestSupport.ILogger, Unity.TestSupport" />
    <alias alias="MockLogger" type="Microsoft.Practices.Unity.TestSupport.MockLogger, Unity.TestSupport" />

    <container>

      <register type="ILogger" mapTo="MockLogger" name="validLogger" />

      <register type="ObjectUsingLogger" name="dependencyRegistered">
        <property name="Logger">
          <optional name="validLogger" />
        </property>
      </register>

      <register type="ObjectUsingLogger" name="dependencyNotRegistered">
        <property name="Logger">
          <optional name="invalidLogger" />
        </property>
      </register>

    </container>
  </unity>
</configuration>