<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity>
    <aliases>
      <add alias="MockDatabase" type="Microsoft.Practices.Unity.TestSupport.MockDatabase, Unity.TestSupport" />
      <add alias="ObjectTakingScalars" type="Microsoft.Practices.Unity.Configuration.Tests.TestObjects.ObjectTakingScalars, Unity.Configuration.Tests" />
      <add alias="negator" type="Microsoft.Practices.Unity.TestSupport.NegativeTypeConverter, Unity.TestSupport" />
    </aliases>

    <container name="defaultConstructor">
      <register type="MockDatabase">
        <constructor />
      </register>
    </container>

    <container name="invalidConstructor">
      <register type="MockDatabase" name="invalid">
        <constructor>
          <noSuchParameter />
          <thisOneDoesntExistEither />
        </constructor>
      </register>
    </container>

    <container name="constructorWithValue">
      <instance value="adventureWorks" name="adventureWorks" />
      <instance value="contosoDB" name="contoso" />
      
      <register type="MockDatabase" name="withExplicitValueElement">
        <constructor>
          <connectionString>
            <value value="northwind" />
          </connectionString>
        </constructor>
      </register>

      <register type="MockDatabase" name="resolvedWithName">
        <constructor>
          <connectionString>
            <dependency name="adventureWorks" />
          </connectionString>
        </constructor>
      </register>
      
      <register type="MockDatabase" name="resolvedWithNameViaAttribute">
        <constructor>
          <connectionString dependencyName="contoso" />
        </constructor>
      </register>
      
      <register type="ObjectTakingScalars" name="injectInt">
        <constructor>
          <intValue>
            <value value="17" />
          </intValue>
        </constructor>
      </register>

      <register type="ObjectTakingScalars" name="injectIntWithValueAttribute">
        <constructor>
          <intValue value="35" />
        </constructor>
      </register>

      <register type="ObjectTakingScalars" name="injectIntWithTypeConverter">
        <constructor>
          <intValue>
            <value value="35" typeConverter="negator" />
          </intValue>
        </constructor>
      </register>
      
      <register type="ObjectTakingScalars" name="injectIntWithTypeConverterAttribute">
        <constructor>
          <intValue value="35" typeConverter="negator" />
        </constructor>
      </register>
      
    </container>
      
  </unity>
</configuration>
