<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Unity" ToolsVersion="11.0">
  <Include Path="extendeddesignguidelinerules.ruleset" Action="Default" />
  <Include Path="globalizationrules.ruleset" Action="Default" />
  <Include Path="minimumrecommendedrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA2101" Action="None" />
  </Rules>
</RuleSet>