<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity>
    <containers>
      <container>
        <extensions>
          <add type="Microsoft.Practices.Unity.TestSupport.MockContainerExtension, Unity.TestSupport" />
        </extensions>
        <types>
          <type type="Microsoft.Practices.Unity.TestSupport.ILogger, Unity.TestSupport"
                mapTo="Microsoft.Practices.Unity.TestSupport.SpecialLogger, Unity.TestSupport">
            <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
          </type>
        </types>

      </container>
    </containers>
  </unity>
</configuration>
