<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity>
    <typeAliases>
      <typeAlias alias="ILogger" type="Microsoft.Practices.Unity.TestSupport.ILogger, Unity.TestSupport" />
      <typeAlias alias="IMockLogger" type="Microsoft.Practices.Unity.TestSupport.MockLogger, Unity.TestSupport" />
    </typeAliases>

    <containers>
      <container name="one">
        <types>
          <type type="Microsoft.Practices.Unity.TestSupport.ILogger, Unity.TestSupport"
                name="logger"
                mapTo="Microsoft.Practices.Unity.TestSupport.MockLogger, Unity.TestSupport" />
          <type type="ILogger"
                name="loggerWithAlias"
                mapTo="Microsoft.Practices.Unity.TestSupport.MockLogger, Unity.TestSupport" />
          <type type="ILogger"
                name="mapToAlias"
                mapTo="IMockLogger"/>
        </types>
      </container>
    </containers>
  </unity>
</configuration>
