<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity>

    <typeAliases>
      <typeAlias alias="GuineaPig" type="Microsoft.Practices.Unity.Configuration.Tests.OptionalDependencyConfigurationFixture+GuineaPig, Unity.Configuration.Tests" />
      <typeAlias alias="IGuineaPig" type="Microsoft.Practices.Unity.Configuration.Tests.OptionalDependencyConfigurationFixture+IGuineaPig, Unity.Configuration.Tests" />
    </typeAliases>

    <containers>

      <container name="defaultConstructor">
        <types>
          <type type="GuineaPig">
            <typeConfig>
              <constructor />
            </typeConfig>
          </type>
        </types>
      </container>

      <container name="optionalConstructorParameter">
        <types>
          <type type="GuineaPig">
            <typeConfig>
              <constructor>
                <param name="pig" parameterType="IGuineaPig">
                  <optional />
                </param>
              </constructor>
            </typeConfig>
          </type>
        </types>
      </container>

      <container name="optionalProperty">

        <types>
          <type type="GuineaPig">
            <typeConfig>
              <constructor />
              <property name="Pig" propertyType="IGuineaPig">
                <optional
                    type="IGuineaPig" />
              </property>
            </typeConfig>
          </type>
        </types>

      </container>

    </containers>

  </unity>
</configuration>